.Screen1{
    
background-color: #FFFFFF !important;
}
.layer-1-ebfe2b71cb0344d99f558c9ca238032a{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
background-color: #000000 !important;
height: 150px !important;min-height: 150px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.imageview-2-e0d3affffb734576aa03bd8099d8e215{
    
height: 90px !important;min-height: 90px !important;
width: 115px !important;min-width: 115px !important;
}
.layer-2-75d7957b5e234fc0aec79dc3babb9593{
    
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;background-repeat: no-repeat !important;
background-size: cover !important;
background-position: center !important;
background-image: url('/_next/image?url=%2Fassets%2Ftest.png&w=3840&q=75') !important;
height: 170px !important;min-height: 170px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-3-693ee6165c254266b69ce5da5d5ea43e{
    
justify-content: center !important;
align-items: center !important;
border-radius: 150px !important;
box-shadow: 0px 0px 0px #FFFFFF !important;
background: transparent !important;
height: 160px !important;min-height: 160px !important;
width: 160px !important;min-width: 160px !important;
}
.imageview-1-06a67255167e4090938c971bbc69ee1a{
    
height: 170px !important;min-height: 170px !important;
width: 170px !important;min-width: 170px !important;
}
.text-1-6f3f1afef81c4746b36caf0e0c26422a{
     text-align: center !important;

font-size: 26pt !important;
font-weight: bold !important;

margin-top: 6px !important;
box-sizing: border-box !important;
color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.text-2-9393376b468b4647a12329b9637eeb7f{
     text-align: center !important;

font-size: 18pt !important;
font-weight: normal !important;

color: #000000 !important;
height: fit-content !important;min-height:  unset !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-4-af479bac78554c30b729088709bb0226{
    flex-direction: row !important;
justify-content: center !important;
align-items: center !important;

box-shadow: 0px 0px 0px #FFFFFF !important;
margin-top: 30px !important;
box-sizing: border-box !important;
background: transparent !important;
flex: 1 1 50% !important;height: 0px !important;min-height: 0px !important;
align-self: stretch !important;width: unset !important;min-width: unset !important;
}
.layer-5-1b75cdee692e43df9f9ce13e128f9557{
    
justify-content: center !important;
align-items: center !important;
border-radius: 30px !important;
box-shadow: 0px 0px 0px #FFFFFF !important;
margin-right: 30px !important;
box-sizing: border-box !important;
background-color: #000000 !important;
height: 120px !important;min-height: 120px !important;
width: 120px !important;min-width: 120px !important;
}
.imageview-3-99f84dd28f344ec5bad28467ea635d32{
    
height: 90px !important;min-height: 90px !important;
width: 115px !important;min-width: 115px !important;
}
.layer-6-1cf1ac7e32da4ade99d17bcb304b3bd7{
    
justify-content: center !important;
align-items: center !important;
border-radius: 30px !important;
box-shadow: 0px 0px 0px #FFFFFF !important;
margin-left: 30px !important;
box-sizing: border-box !important;
background-color: #000000 !important;
height: 120px !important;min-height: 120px !important;
width: 120px !important;min-width: 120px !important;
}
.imageview-4-ece5c658ef5b4dbf90f27c1128a365c4{
    
height: 90px !important;min-height: 90px !important;
width: 115px !important;min-width: 115px !important;
}
